
/* Styles for Project 02 */
html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
body {
  	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr;
	grid-template-areas:
		"header"
		"left"
		"main"
		"right"
		"footer";
	max-width: 576px;
	min-height: 100vh;
	background-color: lightgrey;
	margin: 0;
	padding: 0;
}

header {
  grid-area: header;
  padding: 1em;
  background-color: lightgreen;
}
aside:first-of-type {
  	grid-area: left;
  	padding: 1em;
	background-color: rosybrown;
}
main {
  grid-area: main;
  padding: 1em;
  background-color: skyblue;
}
aside:last-of-type {
	grid-area: right;
	display: flex;
	flex-wrap: wrap; 
  	padding: 1em;
	background-color: wheat;
	vertical-align: top;
}
footer {
	grid-area: footer;
	padding: 5px;
	background-color: lightgreen;
	text-align: center;	
}
img {
	object-fit:cover;
	position: relative;
	width: 150px;
	height: 150px;
	padding: 5px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* check for medium display */
@media screen and (min-width:576px) and (max-width:991px) {
	body {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
		"header header"
		"left right"
		"main main"
		"footer footer";
		max-width: 100%;
	}
} 

/* check for larger screen sizes */
@media screen and (min-width:992px) {
	body {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
		"header header header"
		"left main right"
		"footer footer footer";
		max-width: 100%;
	}
}
